export(simulateCohort, generateHazardMatrix, generateParameterMatrix, generateParameterCovarianceMatrix, transitionProbabilities, cummulativeIncidence)
exportClasses(transition.structure, ArtCohort, PosteriorProbabilities)
importFrom("stats", update)
importFrom("graphics", plot)
importFrom("utils", head)
importFrom("utils", tail)
exportMethods(summary, print, update, plot, "[", "[[", "[[<-", head, tail)